# Environment variables
.env

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
gym-tracker

# Go build cache
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Local Docker Overrides
docker-compose.override.yml
