@import "tailwindcss";

@theme {
  --color-gym-dark: #0b101e;
  --color-gym-card: #1e2436;
  --color-gym-primary: #3b82f6;
  --color-gym-danger: #ef4444;
  --color-gym-success: #10b981;
}

html, body {
  background-color: var(--color-gym-dark);
  color: white;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}